body {
    background-color: #EABA5E;
    padding: 15px;
}

h1 {
    margin-top: 0;
    margin-bottom: 42px;
}

#ukulele {
    width: 62px;
    length: 62px;
    position: relative;
    top: 12px;
}

.flex-parent {
    display: flex;
    width: 100%;
    gap: 28px;
}

.flex-child {
    flex: 1;
    border: 2px solid darkgoldenrod;
    border-radius: 8px;
    padding: 15px;
    color: darkred;

}

#addNewSong {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: -3px;
    color: darkred;
    font-style: italic;
}

.flex-child:first-child {
    color: green;
}

span {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 10pt;
    margin-left: 20px;
}

#displayMessage {
    margin-left: 11px;
    margin-top: 26px;
    color: black;
    border: 1px solid #EABA5E;
    border-radius: 8px;
    background-color: #fee449;
    padding: 0 12px;
    width: fit-content;
}

