body {
    border: 1px solid darkmagenta;
    border-radius: 8px;
    background-color: #EABA5E;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.songWrapper {
    border: 1px solid darkorchid;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.songName {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 15px;
    color: darkred;
    width: 50%;
}

.songDetails {
    border: 1px solid blue;
    border-radius: 8px;
    padding: 15px;
    color: green;
    width: 50%;
}

span {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 10pt;
    margin-left: 20px;
}