h2 {}

#searchForm {
    display: inline-flex;
}

#undoSearch {
    margin-left: 12px;
}

#inputSearchWord {
    margin-bottom: 8px;
}

#referenceSearchResult {
    max-height: 292px;
    overflow: auto;
}

.referenceItem {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    margin-left: 24px;
    color: black;
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 1px;
}

.referenceItem:hover {
    transition: 100ms;
    transition-timing-function: ease-out;
    background-color: lightyellow;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 3px 3px darkgoldenrod;
}

.referenceItemDetails {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 1px;
    color: darkslategray;
    display: inline;
    margin-left: 6px;
    font-style: italic;
}

.referenceItemDetailsPage {
    all: inherit;
    margin-left: 0;
}

#addNewCollection {
    margin-top: 36px;
}

#formAddFile {
    margin-top: 12px;
}

#inputAddFile {
    margin-left: 58px;
    margin-top: 6px;
    border-radius: 4px;
    color: #EABA5E;
    background-color: #EABA5E;
}

#inputAddFile::file-selector-button {
    margin-right: 8px;
    padding-left: 6px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
}

#labelAddFile:hover {
    cursor: help;
}
/* todo: Add Info Field with Requirements*/

