form {
    line-height: 24px;
}

.header {
    line-height: 24px;
}

label {
    color: black;
    font-weight: bold;
}

.title {
    margin-left: 12px;
}
.author {
    margin-left: 25px;
}

input {
    width: 280px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    transition: 0.5s;
}

input:focus {
    background-color: lightyellow;
    border-color: goldenrod;
    outline: none;
}

button {
    background-color: blanchedalmond;
    border-color: goldenrod;
    border-radius: 4px;
    outline: none;
}

button:focus {
    background-color: lightyellow;
    outline: none;
}

#buttonCreate {
    margin-left: 49px;
}

#buttonCancel {
    margin-left: 49px;
}
