.doSomething{
    display: inline-block;
    margin-bottom: 16px;
    color: darkred;
    font-size: 18px;
    font-style: italic;
    user-select: none;
}

#addNewSong {
    cursor: pointer;
}

#addNewCollection {
    cursor: pointer;
}

#chooseASong {
}

form {
    line-height: 24px;
}

.header {
    line-height: 24px;
}

label {
    color: black;
    font-weight: bold;
}

input {
    width: 280px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    transition: 0.5s;
}

input:focus {
    background-color: lightyellow;
    border-color: goldenrod;
    outline: none;
}

button {
    margin-top: 2px;
    width: 72px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
}

button:focus {
    background-color: lightyellow;
    outline: none;
}

button:hover {
    cursor: pointer;
}

