.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.doSomething{
    display: inline-block;
    margin-bottom: 16px;
    color: darkred;
    font-size: 18px;
    font-style: italic;
    user-select: none;
}

#addANewSong {
    margin-left: 42px;
    cursor: pointer;
}

#addNewCollection {
    margin-top: 26px;
    margin-left: 24px;
    cursor: pointer;
}

#chooseASong {
}


.inline {
    display: inline;
}

.cancel {
    font-size: 12px;
}

.edit {
    display: inline-block;
    transform: rotate(90deg);
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

form {
    line-height: 24px;
}

.header {
    line-height: 24px;
}

label {
    color: black;
    font-weight: bold;
}

input {
    width: 280px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    transition: 0.5s;
}

input:focus {
    background-color: lightyellow;
    border-color: goldenrod;
    outline: none;
}

button {
    width: 72px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
}

button:focus {
    background-color: lightyellow;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.readOnly {
    cursor: default;
    background-color: #f0c579;
    pointer-events:none;
}

.readOnly::-webkit-outer-spin-button {
    display: none;
}

.readOnly:focus {
    background-color: #f0c579;
}