html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #EABA5E;
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 20px;
    height: 100%;
}

#container {
    height: inherit;
}

h1 {
    margin-top: 0;
    margin-bottom: 42px;
}

#ukulele {
    height: 62px;
    width: 62px;
    position: relative;
    top: 12px;
}

.flex-parent {
    display: flex;
    width: 100%;
    gap: 28px;
    margin-top: 28px;
}

.flex-child {
    flex: 1;
    border: 2px solid darkgoldenrod;
    border-radius: 8px;
    padding: 15px;
    min-height: 200px;
}

.flex-child:first-child {
    color: green;
}

.songItem {
    position: relative;
    width: fit-content;
    margin: 2px 20px;
    color: darkgreen;
    padding: 1px 6px;
    transition: 0.1s;
    user-select: none;
}

.songItem:hover {
    width: fit-content;
    background-color: lightyellow;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: 4px 4px darkgoldenrod;
    transform: translate(8px);
    cursor: pointer;
}

