#Container {
    display: flex;
    position: absolute;
    left: 48%;
    right: 10%;
    top: 70%;
    width: 464px;
    background-color: blanchedalmond;
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    color: black;
    line-height: 1.6;
    border-width: 3px 22px;
    border-style: solid;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 12px 8px 16px 0 dimgray, 0 6px 20px 0 dimgray;
    max-width: 580px;
    transition: 400ms;
    z-index: 3;
}

#uploadResultContainer {
    border-color: blue;
    border-radius: 8px;
    position: absolute;
    left: 8%;
    right: 42%;
    bottom: 8%;
    max-width: 580px;
}

#uploadResultContainer:hover {
    box-shadow: 12px 12px 24px 1px dimgray, 0 12px 24px 2px dimgray;
    left: 8.2%;
    right: 41.8%;
    bottom: 8.2%;
}

.red {
    color: red;
    border-color: red;
}

.green {
    color: green;
    border-color: green;
}


#messageContainer:hover {
    box-shadow: 12px 12px 24px 1px dimgray, 0 12px 24px 2px dimgray;
    left: 48.2%;
    right: 9.8%;
    top: 69.8%;
}

#messageIcon {
    display: inline;
    line-height: 1;
    width: 76px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 48pt;
}

.message {
    display: inline-block;
    margin-top: auto;
    padding-left: 16px;
    height: 100%;
    width: 100%;
}

#buttonOKContainer {
    position: relative;
    height: 18px;
    margin-top: 18px;
    margin-bottom: 2px;
    transform: translate(0, -16px);
}

#buttonOK {
    position: absolute;
    top: 10px;
    right: 3%;
}

#buttonOK:hover {
    color: white;
    background-color: goldenrod;
    border-color: darkgoldenrod;
    cursor: pointer;
}

/*   LOGOUT   */

#ConfirmationContainer {
    display: flex;
    position: absolute;
    left: 4%;
    top: 88%;
    width: 500px;
    background-color: blanchedalmond;
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    color: black;
    line-height: 1.6;
    border-width: 3px 22px;
    border-style: solid;
    border-radius: 8px;
    padding: 15px 28px 18px 15px;
    box-shadow: 12px 8px 16px 0 dimgray, 0 6px 20px 0 dimgray;
    max-width: 580px;
    transition: 400ms;
    z-index: 3;
}

#buttonConfirmDeleteSong {
    margin-top: 16px;
}

#buttonCancelDeleteSong {
    margin-top: 16px;
    margin-left: 248px;
}