h2 {
    user-select: none;
}

#searchForm {
    display: inline-flex;
}

#undoSearch {
    margin-left: 12px;
}

#inputSearchWord {
    margin-bottom: 8px;
}

#referenceSearchResult {
    height: 228px;
    overflow: auto;
}

.referenceItem {
    font-size: 11px;
    margin-left: 24px;
    color: black;
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 1px;
    user-select: none;
}

.referenceItem:hover {
    transition: 100ms;
    transition-timing-function: ease-out;
    background-color: lightyellow;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 3px 3px darkgoldenrod;
    cursor: pointer;
}

.referenceItemDetails {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 1px;
    color: #3b6363;
    display: inline;
    margin-left: 6px;
    font-style: italic;
}

.referenceItemDetailsPage {
    all: inherit;
    margin-left: 0;
}

#formAddFile {
    margin-top: 6px;
}

#inputAddFile {
    margin-left: 6px;
    margin-top: 0;
    border-radius: 4px;
    color: #EABA5E;
    background-color: #EABA5E;
}

#inputAddFile::file-selector-button {
    margin-right: 8px;
    padding-left: 6px;
    background-color: blanchedalmond;
    border-color: goldenrod;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

#labelAddFile {
    margin-left: 24px;
}

#labelAddFile:hover {
    cursor: help;
}

#inputSearchWord {
    margin-left: 23px;
    width: 312px;
}


/*  EDIT REFERENCE */

#editReferenceItem {
    height: 322px;

}

#editRef_labelTitle {
    grid-area: labelTitle;
}
#editRef_inputTitle {
    grid-area: inputTitle;
    width: 300px;
}

#editRef_labelCollection {
    grid-area: labelCollection;
    width: 210px;
}

/*todo: text overflow to be fixed*/
#editRef_collection {
    grid-area: collection;
    color: black;
    width: 183px;
    padding-left: 3px;
    border: 1px solid darkgoldenrod;
}

#editRef_labelPage {
    grid-area: labelPage;
}
#editRef_inputPage {
    grid-area: inputPage;
    width: 40px;
}

#editRef_labelAuthor {
    grid-area: labelAuthor;
}
#editRef_inputAuthor {
    grid-area: inputAuthor;
    width: 180px;
}
#editRef_labelYear {
    grid-area: labelYear;
}
#editRef_inputYear {
    grid-area: inputYear;
    width: 40px;
}

#editRef_buttonUpdate {
    grid-area: btnUpdate;
    justify-self: right;
}

#editRef_buttonCopy {
    grid-area: btnCopy;
    justify-self: right;
}

#editRef_buttonCancel {
    grid-area: btnCancel;
    justify-self: right;
}

#editRef_buttonHide {
    grid-area: finalButtons;
    margin-top: 2px;
}

#editRef_buttonDelete {
    grid-area: finalButtons;
    margin-left: 90px;
    margin-top: 2px;
}


.gridContainerReferenceToEdit {
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    padding: 18px;
    background-color: #f0c579;
    box-shadow: -2px -2px darkgoldenrod;
    display: grid;
    width: 480px;
    margin-top: 24px;
    grid-template-columns: 55px 204px 55px 40px 120px;
    grid-template-rows: 24px 24px 24px;
    row-gap: 10px;
    grid-template-areas:
        "labelTitle inputTitle inputTitle inputTitle btnUpdate"
        "labelCollection collection labelPage inputPage btnCopy"
        "labelAuthor inputAuthor labelYear inputYear btnCancel"
        ". finalButtons . . . ";
}


