.songDataSheetElement {
    position: relative;
    min-width: 450px;
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    padding: 18px;
    background-color: #f0c579;
    box-shadow: -2px -2px darkgoldenrod;
}

#songHead {
    height: 60px;
}

#workingSpace {
    height: 148px;
    margin-top: 18px;
}

#displaySpace {
    min-height: 140px;
    margin-top: 18px;
}

#songFooter {
    position: absolute;
    bottom: 0;
    margin-top: 18px;
    padding: 18px;
    color: darkslategray;
    font-family: "Times New Roman", sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #eaba5e;
}

/*  COMMON ELEMENTS  */

.buttonFloatRight {
    float: right;
}

/*  SONG HEAD /// DISPLAY / EDIT / CREATE TITLE  */

#displayTitle {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: #850808;
    text-decoration: underline;
}

#titleFirstLine {
    display: block;
    margin-top: 1px;
    margin-bottom: 8px;
    min-width: 446px;
}

#displayTitleSecondLine {
    margin-top: 16px;
}

#titleSecondLine {
    min-width: 446px;
}

#inputTitle {
    margin-left: 16px;
    width: 312px;
}

#buttonEditSong, #buttonUpdateSong, #buttonCreateSong {
    float: right;
}

#labelDisplayAuthor {
    margin-left: 0;
}

#displayAuthor {
    display: inline-block;
    margin-left: 6px;
    min-width: 187px;
    margin-right: 12px;
}

#inputAuthor {
    margin-left: 28px;
    width: 157px;
}


#displayYear {
    margin-left: 6px;
}

#inputYear {
    margin-left: 8px;
    width: 90px;
    -moz-appearance: textfield;
}

#buttonCloseDisplaySong {
    float: right;
    transform: translateY(-5px);
}


#buttonCancelEditSong, #buttonCancelCreateSong {
    float: right;
}


/*  ICON LINE   */

#iconContainer {
    margin-top: 24px;
    margin-left: 18px;
    display: flex;
    flex-direction: row;
}

.icon {
    margin-right: 45px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    text-align: center;
    width: 18px;
    height: 16px;
    cursor: pointer;
    background-color: blanchedalmond;
    box-shadow: 3px 2px darkgoldenrod, 2px 2px 2px #936b09;
    transition: 50ms;
    user-select: none;
}

.icon:hover {
    box-shadow: 3px 3px darkgoldenrod, 3px 3px 5px #e5c18b;
    transform: translate(1px, -0.5px);
    /*background-color: lightblue;*/
    /*background-color: #ffc671;*/
}

.icon:active {
    box-shadow: 1px 1px darkgoldenrod, 1px 1px 2px #936b09;
    transform: translate(1px, 1px);
}

#iconInfo {
    border-color: #936b09;  /* brown */
    /*border-color: dimgray;*/
    font-size: 12px;
    font-weight: bold;
}

#iconReference {
    border-color: green;
    font-size: 11px;
}

#iconLink {
    border-color: #4280c9;  /* blue */
    font-weight: bold;
    font-size: 13px;
}

#iconSongSheetFile {
    border-color: rgb(157, 54, 210);  /* magenta */
    font-size: 10px;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: max-content;
    min-width: 110px;
    background-color: goldenrod;
    border: solid 1px darkgoldenrod;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    transform: translate(25px, -10px);
    z-index: 2;
    font-size: 11px;
    font-weight: normal;
    user-select: none;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    top: 50%; /* At the bottom of the tooltip */
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent darkgoldenrod transparent transparent;
}


/*  WORKING SPACE  */


.workingSpaceElement {
    min-width: 546px;
}


/*  DISPLAY SPACE  */

.displayThis {
    margin-top: 18px;
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    padding: 18px;
}


/*  DESCRIPTION  */

.editDescriptionTitle {
    text-decoration: underline;
    text-decoration-color: #936b09;
    text-decoration-thickness: 2px;
}

#displayDescription {
    margin-top: 6px;
    font-weight: lighter;
    font-style: italic;
}


#addADescription {}

#inputDescription {
    margin-top: 12px;
    margin-left: 54px;
    width: 307px;
}

#buttonAddDescription {
    float: right;
    margin-top: 6px;
}

#buttonCancelAddDescription {
    float: right;
    clear: right;
    margin-top: 37px;
}

#buttonClearDescription {
    margin-top: 10px;
    margin-left: 54px;
}


/*  REFERENCE  */

.editReferenceTitle {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
}

#displayReferences, #displayLinks, #displaySongSheets {
    display: block;
    /*border: 1px solid darkgoldenrod;*/
    padding: 5px;
}

/*
.displayLinks {
    display: block;
    margin-top: 20px;
    border: 1px solid darkgoldenrod;
    font-size: 3pt;
    padding: 5px;
    z-index: 1;
}
*/


#displayLinks:nth-of-type(1), #displaySongSheets:nth-of-type(1) {
    margin-top: 20px;
}

.reference {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    color: #3b6363;
    margin-left: 26px;
    font-style: italic;
}

.referenceIndicator {
    color: green;
    font-weight: bold;
}

.reference:hover, .songSheet:hover {
    background-color: lightyellow;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 3px 3px darkgoldenrod;
    cursor: pointer;
    color: black;
    user-select: none;
    padding: 1px 6px;
    z-index: 2;
}

.reference:hover + .reference, .songSheet:hover + .songSheet {
    margin-top: -6px;
}

.reference:hover:last-child, .songSheet:hover:last-child {
    margin-top: -4px;
    margin-bottom: -2px;
}

.nextLine {
    display: block;
    margin-top: 6px;
}

#buttonAddReference, #buttonCancelAddReference {
    float: right;
}

#buttonDeleteReference, #buttonDeleteLink {
    margin-left: 12px;
}

#buttonClearReference, #buttonClearLink {
    margin-top: 8px;
    margin-left: 54px;
}

#inputRefCollection {
    margin-left: 21px;
    width: 172px;
}

#labelInputRefPage {
    margin-left: 12px;
}

#inputRefPage {
    margin-left: 8px;
    width: 70px;
}

#inputRefAuthor {
    margin-left: 6px;
    width: 172px;
}

#labelInputRefYear {
    margin-left: 12px;
}

#inputRefYear {
    margin-left: 9px;
    width: 70px;
}

#displayRefAuthor {}

.displayKey {
    color: #850808;
    /*color: #3b6363;*/
    font-weight: normal;
}

#inputKey {
    margin-left: 25px;
    max-height: 60px;
    background-color: blanchedalmond;
    border-color: darkgoldenrod;
}

.labelInputMajorOrMinor {
    font-weight: normal;
}

.inputMajorOrMinor {
    margin-left: 10px;
    width: revert;
    background-color: goldenrod;
    transition: 0ms;
}

#major {
    margin-left: 26px;
}


/*  LINK  */

.editLinkTitle {
    text-decoration: underline;
    text-decoration-color: #4280c9;
    text-decoration-thickness: 2px;
}

#listOfLinks {
}

.linkIndicator {
    color: #4280c9;
    font-weight: bold;
    margin-right: 2px;
    z-index: 2;
}

.linkIndicator:hover {
    position: relative;
    background-color: lightyellow;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 3px 3px darkgoldenrod;
    cursor: pointer;
    user-select: none;
    padding: 1px 8px 1px 36px;
    z-index: 2;
}

.linkIndicator:hover + a {
    margin-left: -43px;
    z-index: 1;
}

.linkIndicator:hover:before {
    font-weight: normal;
    color: black;
    content: 'edit ';
    margin-left: -28px;
    letter-spacing: -1px;
    z-index: 2;
}

.linkText {
    /*color: #3b6363;*/
    color: #4280c9;
    text-decoration: underline;
    text-decoration-color: #4280c9;
    z-index: 1;
}

.linkText:hover {
    /*font-weight: bold;*/
    /*background-color: #eaba5e;*/
    background-color: #eaf6fa;
    /*color: darkorchid;*/
    border-style: solid;
    border-width: 1px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 1px 1px darkgoldenrod;
    cursor: pointer;
    user-select: none;
    padding: 1px 6px 2px 6px;
    margin-left: -4px;
}

/*.linkText:hover:before {
    content: '\2013\1F896\00A0 ';
    font-weight: bold;
   !* color: darkorchid;*!
    line-height: 0.9;

}*/

.link {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    color: #3b6363;
    margin-left: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#inputFormLink {}

#buttonEditLink {
    float: right;
}

#buttonCancelEditLink {
    float: right;
    clear: right;
}

#inputLinkText {
    margin-left: 21px;
    width: 147px;
}

.labelSecondInLine {
    margin-left: 12px;
}

#inputLinkTarget {
    margin-left: 8px;
    width: 169px;
}

#inputLinkAuthor {
    margin-left: 6px;
    width: 147px;
}

#inputLinkStrumming {
    margin-left: 11px;
    width: 169px;
}

#displayLinkAuthor {
    font-style: italic;
}

#displayLinkStrumming {
    color: #3b6363;
}

#displayLinkDescription {}


/*  SONG SHEETS  */

.editSongSheetTitle {
    text-decoration: underline;
    text-decoration-color: rgb(157, 54, 210);
    text-decoration-thickness: 2px;
}

#inputSongSheetName {
    margin-left: 12px;
    width: 147px;
}

#inputSongSheetSource {
    margin-left: 8px;
    width: 166px;
}

#inputSongSheetDescription {
    margin-left: 8px;
    width: 392px;
}

#inputAddSongSheet {
    float: right;

    width: 96px;
    background-color: #f0c579;
}


.songSheet, .songSheetDeaf {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    color: #3b6363;
    margin-left: 27px;
}
.songSheetDeaf:hover {
    cursor: auto;
}

.songSheetIndicator {
    color: rgb(157, 54, 210);
    font-weight: bold;
}

.songSheetDescriptive {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    color: #3b6363;
    /*border: 1px solid greenyellow;*/
}

.songSheetDescriptive:hover {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    color: #3b6363;
    cursor: pointer;
}

.songSheet:hover + .songSheetDescriptive {
    margin-left: -16px;
}

.separator {
    margin-left: 12px;
    margin-right: 6px;
}

.separator:nth-of-type(1) {
    margin-left: 14px;
}

.separatorFileName {
    margin-right: 6px;
    font-weight: bold;
}

.displayFileName {
    color: darkorchid;
    margin-left: 12px;
}

.displayFileName:hover {
    font-weight: normal;
    /*background-color: #eaba5e;*/
    font-style: italic;
    background-color: lightyellow;
    color: darkorchid;
    border-style: solid;
    border-width: 1px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 1px 1px darkgoldenrod;
    cursor: pointer;
    user-select: none;
    padding: 1px 6px 2px 6px;
}

.displayFileName:hover > .separatorFileName {
    color: #3b6363;
}

#ContainerInsertingDateUploaded {
    height: 24px;
}

#dateUploaded {
    position: relative;
    left: 359px;
    top: -24px;
    color: darkslategray;
    font-family: "Times New Roman", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

#uploadSongSheetForm {
    float: right;
    margin-top: 8px;
}

#labelUploadSongSheetForm {
    margin-right: 18px;
}

#buttonClearSongSheet, #buttonDeleteSongSheet {
    margin-top: 8px;
    margin-left: 54px;
}

#fileNameContainer {
    float: right;
    margin-top: 6px;
}

#fileName {
    display: inline-block;
    margin-right: 46px;
    margin-top: 6px;
    text-align: right;
}

.coloredSongSheetLink {
    color: rgb(157, 54, 210);
    font-weight: normal;
    cursor: pointer;
}

#buttonDiscardSongSheetFile {
    float: right;
    /*margin-top: 6px;*/
}

/*  FOOTER  */

#buttonDeleteSong {
    position: absolute;
    right: 18px;
    bottom: 18px;
}

