#songHead {
    height: 70px;
}

#songBody {
    min-height: 380px;
    position: relative;
}

/*  SONG HEAD /// DISPLAY / EDIT / CREATE TITLE  */

#displayTitle {
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: #a60a0a;
    text-decoration: underline;
}

#titleLine {
    display: block;
    margin-bottom: 8px;
}

#inputTitle {
    margin-left: 16px;
    width: 312px;
}

#buttonEditSong, #buttonUpdateSong, #buttonCreateSong {
    float: right;
}

#displayAuthor {
    display: inline-block;
    margin-left: 6px;
    min-width: 187px;
    margin-right: 12px;
}
#inputAuthor {
    margin-left: 28px;
    width: 157px;
}


#displayYear {
    margin-left: 6px;
}

#labelInputYear {
    margin-left: 12px;
}

#inputYear {
    margin-left: 8px;
    width: 90px;
    -moz-appearance: textfield;
}

#buttonCancelDisplaySong {
    float: right;
    transform: translate(0, -5px);
}

#buttonCancelEditSong, #buttonCancelCreateSong {
    float: right;
}


/*  ICON LINE   */

#iconContainer {
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.icon {
    margin-right: 45px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    text-align: center;
    width: 18px;
    height: 16px;
    cursor: pointer;
    background-color: blanchedalmond;
    box-shadow: 3px 2px darkgoldenrod, 2px 2px 2px #936b09;
    transition: 50ms;
}

.icon:hover {
    box-shadow: 3px 3px darkgoldenrod, 3px 3px 5px #e5c18b;
    transform: translate(1px, -0.5px);
    /*background-color: lightblue;*/
    /*background-color: #ffc671;*/
}

.icon:active {
    box-shadow: 1px 1px darkgoldenrod, 1px 1px 2px #936b09;
    transform: translate(1px, 1px);
}

#iconInfo {
    border-color: dimgray;
    font-size: 12px;
    font-weight: bold;
}

#iconReference {
    border-color: rgba(157, 54, 210, 0.85);
    font-size: 11px;
}

#iconLink {
    border-color: #936b09;
    font-weight: bold;
    font-size: 13px;
}

#iconFile {
    border-color: #4280c9;
    font-size: 10px;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: goldenrod;
    border: solid 1px darkgoldenrod;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    transform: translate(25px, -10px);
    z-index: 1;
    font-size: 11px;
    font-weight: normal;
    user-select: none;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    top: 50%; /* At the bottom of the tooltip */
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent darkgoldenrod transparent transparent;
}

/*  DESCRIPTION  */

#displayDescription {
    margin-top: 20px;
    margin-bottom: 12px;
    border: 1px solid darkgoldenrod;
    padding: 5px;
    font-weight: lighter;
    font-style: italic;
}

#inputDescription {
    margin-top: 6px;
}

#buttonAddDescription {
    float: right;
}

#buttonCancelAddDescription, #buttonClearDescription {
    margin-right: 12px;
}

/*  REFERENCE  */

.displayReferences {
    display: block;
    margin-top: 20px;
    border: 1px solid darkgoldenrod;
    padding: 5px;
}

#listOfReferences {
}

.retainedReferenceItem {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 8pt;
    color: #3b6363;
    margin-left: 26px;
    font-style: italic;
}

.retainedReferenceItem:hover {
    background-color: lightyellow;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 3px 3px darkgoldenrod;
    cursor: pointer;
    color: black;
    user-select: none;
    padding: 1px 6px;
}

.retainedReferenceItem:hover + .retainedReferenceItem {
    margin-top: -6px;
}

.retainedReferenceItem:hover:last-child {
    margin-top: -4px;
    margin-bottom: -2px;
}

#inputFormRef {
    margin-top: 20px;
}

#titleLineRef, #secondLineRef{
    display: block;
    margin-top: 6px;
}

#buttonUpdateReference, #buttonCancelAddReference {
    float: right;
    transform: translate(0, -2px);
}

#inputRefCollection {
    margin-left: 16px;
    width: 176px;
}

#labelInputRefPage {
    margin-left: 12px;
}

#inputRefPage {
    margin-left: 8px;
    width: 70px;
}


/*  LINK  */

.displayLinks {
    display: block;
    margin-top: 20px;
    border: 1px solid darkgoldenrod;
    padding: 5px;
}

#listOfLinks {
}

#linkDot {
    color: dodgerblue;
    font-weight: normal;
    margin-right: 1px;
}

.link {
    font-family: Verdana, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 10pt;
    color: #3b6363;
    margin-left: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*.link:hover {
    background-color: gold;
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-radius: 2px;
    width: fit-content;
    box-shadow: 3px 3px darkgoldenrod;
    cursor: pointer;
    color: black;

    padding: 1px 8px;
}

.link:hover + .link {
    margin-top: -6px;
}

.link:hover:last-child {
    margin-top: -4px;
    margin-bottom: -2px;
}*/

#inputFormLink {
    margin-top: 20px;
}

#titleLineLink, #secondLineLink{
    display: block;
    margin-top: 6px;
}

#buttonUpdateLink {
    float: right;
    transform: translate(0, -2px);
}

#buttonCancelAddLink{
    float: right;
    margin-top: 6px;
}

#inputLinkText {
    margin-left: 21px;
    margin-top: 2px;
    width: 308px;
}

#inputLinkTarget {
    margin-left: 8px;
    margin-top: 8px;
    width: 308px;
}


/*  LAST LINE  */

#displayDateCreated {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: darkslategray;
    font-family: "Times New Roman", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

#buttonDeleteSong {
    position: absolute;
    right: 0;
    bottom: -6px;
}

