.border {
    border: 3px double darkgoldenrod;
}

.leftArrow {
    display: inline-block;
    transform: rotate(180deg) translate(2px, -2px);
}

#welcomeContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 460px;
    height: 278px;
    border: 3px double darkgoldenrod;
    border-radius: 8px;
    margin: auto;
    padding: 24px 42px 42px;
}

#welcomeTitleLeft {
    display: inline-block;
}

#ukuleleLogin {
    height: 62px;
    width: 62px;
}

#welcomeTitleRight {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 26px;
}

#titleSecondPart {
    margin-left: 60px;
}


/*  LOGIN  */

.nextLineUsers {
    margin-top: 8px;
    display: block;
}

#coverPassword {
    display: inline-block;
    transform: translateX(2px);
}

#sign01CoverPassword {
    display: inline-block;
    font-size: 5pt;
    transform: rotate(270deg) translate(1px, -12px);
}

#sign02CoverPassword {
    display: inline-block;
    font-size: 5pt;
    transform: rotate(270deg) translate(1px, -8px);
}

#buttonCoverPassword {
    float: right;
    margin-top: 1px;
    height: 23px;
    transform: translateY(-1px);
}

#iconUncoverPassword {
    transform: translate(-4px, 2px);
    height: 12px;
    width: 12px;
}

.buttonUserMgt {
    width: 86px;
    margin-left: 16px;
    margin-right: 12px;
}

#buttonLogin {
    float: right;
    clear: right;
}

#buttonRegister {
    float: right;
    margin-top: -4px;
}

#notRegistered {
    margin-top: 42px;
    margin-bottom: 10px;
}


/*  REGISTER  */

#plsCreate {
    margin-top: 14px;
    margin-bottom: 14px;
    font-weight: bold;
}

#buttonCreateUser {
    float: right;
}

#lineBeforePassword {
    margin-top: 16px;
    display: block;
    /*border: 1px solid blue;*/
}

#buttonCancelRegistration {
    margin-left: 0;
    margin-top: 24px;
}

#textButtonCancelRegistration {
    display: inline-block;
    transform: translateX(-2px);
}


/*   LOGOUT   */

#titleLogout {
    margin-left: 32px;
}

#buttonLoginAgain {
    margin-top: 40px;
    float: right;
}
