.border {
    border: 3px double darkgoldenrod;
}

.leftArrow {
    display: inline-block;
    transform: rotate(180deg) translate(2px, -2px);
}

.leftArrowOnLeft {
    display: inline-block;
    transform: rotate(180deg) translate(6px, -2px);
}

#welcomeContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 460px;
    height: 278px;
    border: 3px double darkgoldenrod;
    border-radius: 8px;
    margin: auto;
    padding: 24px 42px 42px;
}

#welcomeTitleLeft {
    display: inline-block;
}

#ukuleleUserPage {
    height: 62px;
    width: 62px;
}

#infoIcon {
    height: 12px;
    width: 12px;
    margin-right: 6px;
    transform: translate(0, 2px);
}

#labelLogout {
    margin-left: 2px;
}

#welcomeTitleRight {
    display: inline-block;
    position: absolute;
    top: 48px;
    margin-left: 40px;
}

#titleSecondPart {
    margin-left: 60px;
}


/*  LOGIN  */

.nextLineUsers {
    margin-top: 8px;
    display: block;
}

#coverPassword {
    display: inline-block;
    transform: translateX(2px);
}

#sign01CoverPassword {
    display: inline-block;
    font-size: 5pt;
    transform: rotate(270deg) translate(1px, -12px);
}

#sign02CoverPassword {
    display: inline-block;
    font-size: 5pt;
    transform: rotate(270deg) translate(1px, -8px);
}

#buttonCoverPassword {
    float: right;
    margin-top: 1px;
    height: 23px;
    transform: translateY(-1px);
}

#iconUncoverPassword {
    transform: translate(-4px, 2px);
    height: 12px;
    width: 12px;
}

.buttonUserMgt {
    width: 86px;
    margin-left: 16px;
    margin-right: 12px;
}

#buttonLogin {
    float: right;
    clear: right;
}

#buttonRegister {
    float: right;
    margin-top: -4px;
}

#notRegistered {
    margin-top: 30px;
    margin-bottom: 8px;
}

#testApp {
    margin-top: 20px;
}


/*  REGISTER  */

#plsCreate {
    margin-top: 14px;
    margin-bottom: 14px;
    font-weight: bold;
}

#buttonCreateUser {
    float: right;
}

#lineBeforePassword {
    margin-top: 16px;
    display: block;
    /*border: 1px solid blue;*/
}

#buttonCancelRegistration {
    margin-left: 0;
    margin-top: 33px;
}

#textButtonCancelRegistration {
    display: inline-block;
    transform: translateX(-2px);
}

/*   USER INFO   */

#userInfoContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 460px;
    height: 329px;
    border: 3px double darkgoldenrod;
    border-radius: 8px;
    margin: auto;
    padding: 24px 42px 42px;
}

#titleUserInfo {
    margin-left: 32px;
}

.userInfoBox {
    position: relative;
    margin-top: 24px;
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    padding: 18px;
    background-color: #f0c579;
    box-shadow: -2px -2px darkgoldenrod;
}

#displayUsername {
    margin-top: 36px;
    /*margin-left: 18px;*/
}

#userName {
    margin-left: 4px;
}

#dateUserCreated {
    margin-left: 48px;
}

.labelUserInfo {
    margin-top: 8px;
}

#userNumberOfReferences {
    margin-left: 20px;
    color: #8139bd;
}

#userNumberOfSongs {
    margin-left: 49px;
    color: #8139bd;
}

#userNumberOfSongSheetFiles {
    margin-left: 9px;
    color: #8139bd;
}

#buttonReturn {
    position: relative;
    margin-top: 28px;
    margin-left: 6px;
}

#textButtonReturn {
      display: inline-block;
      transform: translateX(1px);
}

#deleteUserLine {
    margin-top: 18px;
}

#buttonDeleteUser {
    margin-right: 6px;
}

/*   DELETE   */

@keyframes ContainerGoingPink {
    0% {
        background-color: #eaba5e;
        border: 3px double darkgoldenrod;
        color: black;
    }
    100% {
        background-color: pink;
        border: 3px double mediumvioletred;
        color: darkred;
    }
}

@keyframes innerBoxGoingPink {
    0% {
        border: 1px solid darkgoldenrod;
        box-shadow: -2px -2px darkgoldenrod;
        background-color: #f0c579;
    }
    100% {
        border: 1px solid mediumvioletred;
        box-shadow: -2px -2px palevioletred;
        background-color: #f8ccd1;
    }
}


#deleteUserContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 460px;
    height: 329px;
    border: 3px double darkgoldenrod;
    border-radius: 8px;
    margin: auto;
    padding: 24px 42px 42px;
    animation-name: ContainerGoingPink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#deleteUserBox {
    position: relative;
    margin-top: 36px;
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    padding: 18px;
    box-shadow: -2px -2px darkgoldenrod;
    font-size: 12px;
    background-color: #f0c579;
    color: black;
    animation-name: innerBoxGoingPink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#plsConfirm {
    margin-top: 28px;
    font-weight: bold;
}

#buttonCancelUserDeletion {
    margin-right: 6px;
}

#buttonConfirmUserDeletion {
    float: right;
    margin-right: 32px;
}


/*   LOGOUT   */

#titleLogout {
    margin-left: 32px;
}

#buttonLoginAgain {
    margin-top: 40px;
    float: right;
}
